@(message: String)(implicit request: RequestHeader)

@main("Welcome to Mt.Minsi") {

    <div id="ticker"></div>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var sock = new WS("@routes.SocketApplication.stream().webSocketURL()")

            sock.onopen = function() {
                sock.send('{"subscribe":"d5f06780-30a8-4a48-a2f8-7ed181b4a13f"}')
//                sock.send('{"subscribe":"0bb6da8b-f6c6-4ecf-8f0d-a544ad948c15"}')
            }

            sock.onmessage = function(event) {
                $('#ticker').html(event.data)
            }
        })

    </script>
}